@use "@Utils/theme" as *;

.pagination {
  display: flex;
  gap: $indent-xs;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;

  &__item {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include text(1.125rem);
    color: $text-color-primary;
    background-color: transparent;
    cursor: none;

    &:hover {
      color: $text-color-secondary;
      cursor: pointer;
    }

    &__selected {
      width: 30px;
      height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      @include text(1.125rem, $font-weight-bold);
      color: $text-color-alternative;
      background-color: $background-color-alternative;
      border-radius: 4px;
      caret-color: transparent;
    }
  }

  &__next-icon {
    &:hover {
      cursor: pointer;
    }
  }
}
