@use "@Utils/theme" as *;

.gallery {
  text-align: center;
  display: flex;
  flex-direction: column;

  &__pretitle {
    @include text-small;
    color: $text-color-secondary;
  }

  &__title {
    @include text-medium;
    color: $text-color-primary;
  }

  &__main {
    padding-top: $indent-m;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $indent-sm;
  }
}

.card {
  transition: transform 200ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  &__picture {
    width: 380px;
    height: 440px;
    background-color: $image-background-color;
  }

  &__info {
    background-color: $background-color-primary;
    padding: $indent-s $indent-s;
    border: 1px $border-color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    position: relative;
    left: 7%;
    bottom: 10%;

    &__wrapper {
      display: flex;
      flex-direction: column;
      max-width: 80%;
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: $indent-xxs;

      &__title {
        @include text(1.125rem, $font-weight-semibold);
        text-align: left;
        color: $text-color-primary;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__author {
        @include text-small;
        text-align: left;
        color: $text-color-secondary;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__isPublic {
      @include text($font-size-small, $font-weight-bold);
      text-align: left;
      color: $text-color-primary;

      margin-top: $indent-xs;
    }

    &__icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.image-placeholder {
  width: 380px;
  height: 440px;
  background-color: $image-background-color;
}

@media screen and (max-width: 1300px) {
  .gallery {
    &__main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 900px) {
  .gallery {
    &__main {
      grid-template-columns: 1fr;
    }
  }
}
