@use "@Utils/theme" as *;

.favourites-wrapper {
  background-color: $background-color-secondary;
}

.favourites {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;

  &__title {
    @include text-big;
    color: $text-color-primary;
    margin-top: $indent-l;

    &__sub {
      @include text-big;
      color: $text-color-secondary;
    }
  }

  &__main {
    margin: $indent-l 0;

    &__title {
      &__sub {
        @include text-small;
        color: $text-color-secondary;
      }

      &__main {
        @include text-medium;
        color: $text-color-primary;
        position: relative;

        .sort-icon {
          position: absolute;
          height: 100%;
          right: 0;
          top: 0;
        }
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $indent-s;
      grid-auto-rows: 120px;

      margin-top: $indent-m;
    }

    &__spinner-wrapper {
      margin: $indent-m 50%;
    }
  }
}

@media screen and (max-width: 1300px) {
  .favourites__main__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .favourites__main__list {
    grid-template-columns: 1fr;
  }
}
