@use "@Utils/theme" as *;

.other-works {
  text-align: center;

  &__pretitle {
    @include text-small;
    color: $text-color-secondary;
  }

  &__title {
    &__container {
      position: relative;

      .sort-icon {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }
    }

    &__text {
      @include text-medium;
      color: $text-color-primary;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 130px;
    grid-gap: $indent-s;

    margin-top: $indent-m;
  }
}

@media screen and (max-width: 1300px) {
  .other-works {
    &__main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 900px) {
  .other-works {
    &__main {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 500px) {
  .other-works,
  .other-works__title__text {
    text-align: left;
  }
}
