@use "@Utils/theme" as *;

.spinner {
  width: 30px;
  height: 30px;
  border: $indent-xxs solid #fafafa;
  border-top: $indent-xxs solid $text-color-secondary;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
