$text-color-black: #393939;
$text-color-orange: #f17900;
$page-background: #fafafa;
$border-grey: #f0f1f1;

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main {
  padding-top: 135px;
  background-color: $page-background;
  padding-bottom: 120px;

  &__title {
    font-family:
      Lexend Deca,
      serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $text-color-black;

    &__inner {
      font-family:
        Lexend Deca,
        serif;
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $text-color-orange;
    }
  }

  &__other-works {
    margin-top: 120px;
  }

  &__special-gallery {
    margin-top: 120px;
  }
}
