@use "@Utils/theme" as *;

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.main {
  padding-top: $indent-l;
  background-color: $background-color-secondary;
  padding-bottom: $indent-l;

  &__title {
    @include text-big;
    color: $text-color-primary;
    margin-bottom: $indent-sm;

    &__inner {
      @include text-big;
      color: $text-color-secondary;
    }
  }

  &__other-works {
    margin-top: $indent-l;
  }

  &__special-gallery {
    margin-top: $indent-l;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
