@use "@Utils/theme" as *;

.sort-menu {
  position: relative;
  height: 100%;

  &__main {
    position: absolute;
    right: 0;
    top: 1em;

    background-color: $background-color-primary;
    border-radius: 5px;
    border: 1px solid $text-color-secondary;

    &__item {
      @include text(1.125rem);
      padding: $indent-xs;
      height: 20px;

      display: flex;
      justify-content: space-between;
      gap: $indent-s;

      &:hover {
        background-color: $background-color-secondary;
        cursor: pointer;
      }
    }
  }
}
