.card {
  background-color: #ffffff;
  border: 1px solid #f0f1f1;
  padding: 10px 25px;
  width: 30%;

  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
