@use "@Utils/theme" as *;

.header {
  background: $header-background;
  height: $header-height;
  display: flex;
  align-items: center;

  &__container {
    width: 70%;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 100%;

    &__links {
      display: flex;
      justify-content: right;

      * {
        padding-left: $indent-sm;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header__container {
    width: 100%;
  }
}
