$header-background-color: linear-gradient(#343333, #484848, #282828);

.header {
  background: $header-background-color;
  padding: 32px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    justify-self: center;

    &__links {
      display: flex;
      justify-content: right;

      * {
        padding-left: 32px;
      }
    }
  }
}