$text-color-black: #393939;
$text-color-orange: #f17900;
$page-background: #fafafa;
$border-grey: #f0f1f1;
$header-height: 130px;
$header-background-color: linear-gradient(#343333, #484848, #282828);
