@use "@Utils/theme" as *;

.footer {
  background-color: $background-color-primary;
  padding: $indent-sm;

  &__container {
    width: 70%;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .footer__container {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .footer__inner {
    flex-direction: column;
    gap: $indent-sm;
  }
}
