@use "@Utils/theme" as *;

.input-wrapper {
  width: 90%;
  padding: $indent-s;
  border-radius: $indent-s;
  background-color: $input-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;

    @include text(0.875rem);
    font-family: $font-family-secondary;
    color: $text-color-primary;
    text-align: left;
  }

  .input-icon {
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.search-results {
  &__title {
    &__container {
      margin-top: $indent-m;
      position: relative;

      .sort-icon {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
      }
    }

    &__text {
      @include text-medium;
      color: $text-color-primary;
    }
  }

  &__main {
    margin-top: $indent-m;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 130px;
    grid-gap: $indent-s;
  }
}

@media screen and (max-width: 1300px) {
  .search-results__main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .search-results__main {
    grid-template-columns: 1fr;
  }
}
