@use "@Utils/theme" as *;

.detail-info-page {
  &__main-wrapper {
    background-color: $background-color-secondary;
  }

  &__main {
    padding: $indent-l 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: $indent-xs;
    justify-content: start;
    width: 70%;
    margin: 0 auto;

    &__image {
      width: 500px;
      height: 570px;
      background-color: $image-background-color;
      position: relative;

      &__icon {
        position: absolute;
        top: $indent-xs;
        right: $indent-xs;
      }
    }

    &__info {
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-content: space-between;

      &__general {
        display: flex;
        flex-direction: column;
        gap: $indent-xxs;

        &__title {
          @include text-medium;
          text-align: left;
          color: $text-color-primary;
        }

        &__author {
          @include text(1.5rem);
          text-align: left;
          color: $text-color-secondary;
        }

        &__createdAt {
          @include text($font-size-small, $font-weight-bold);
          text-align: left;
          color: $text-color-primary;
        }
      }

      &__overview {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: $indent-xs;

        &__title {
          @include text-medium;
          text-align: left;
          color: $text-color-primary;
        }

        &__item {
          @include text-small;
          text-align: left;
          color: $text-color-primary;
        }

        .overview-category {
          color: $text-color-secondary;
        }
      }
    }
  }
}

.spinner-wrapper {
  margin: 50%;
}

@media screen and (max-width: 1250px) {
  .detail-info-page__main {
    grid-template-columns: 1fr;
  }
  .detail-info-page__main__info {
    grid-template-rows: 1fr;
  }
  .detail-info-page__main__image {
    place-self: center;
  }
}
