@use "../../utils/variables" as v;

.detail-info-page {
  &__main-wrapper {
    background-color: v.$page-background;
  }

  &__main {
    padding: 120px 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    justify-content: start;
    width: 70%;
    margin: 0 auto;

    &__image {
      width: 500px;
      height: 570px;
      background-color: bisque;
      position: relative;

      &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    &__info {
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-content: space-between;

      &__general {
        place-self: start;

        &__title {
          margin-top: 0;
          font-family: Lexend Deca;
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: v.$text-color-black;
        }

        &__author {
          margin: 0;
          font-family: Lexend Deca;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: v.$text-color-orange;
        }

        &__createdAt {
          margin: 0;
          font-family: Lexend Deca;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: v.$text-color-black;
        }
      }

      &__overview {
        align-content: end;

        &__title {
          font-family: Lexend Deca;
          font-size: 32px;
          font-weight: 400;
          line-height: 40px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: v.$text-color-black;
        }

        &__item {
          font-family: Lexend Deca;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: v.$text-color-black;
        }

        .overview-category {
          color: v.$text-color-orange;
        }
      }
    }
  }
}

.spinner-wrapper {
  margin: 50%;
}

@media screen and (max-width: 1250px) {
  .detail-info-page__main {
    grid-template-columns: 1fr;
  }
  .detail-info-page__main__info {
    grid-template-rows: 1fr;
  }
  .detail-info-page__main__image {
    place-self: center;
  }
}
