@use "@Utils/theme" as *;

.artwork-card-small {
  padding: $indent-s;
  border: 1px $border-color-primary;
  display: grid;
  grid-template-columns: 80px auto auto;
  grid-gap: $indent-s;
  background-color: $background-color-primary;

  transition: border 200ms;

  &:hover {
    border: 1px solid $border-color-primary;
    cursor: pointer;
  }

  &__add-to-favourites {
    display: grid;
    justify-content: flex-end;
    align-items: center;
  }

  &__image {
    width: 80px;
    height: 80px;
    background-color: $image-background-color;

    display: grid;
    justify-content: flex-start;
    align-items: center;
    justify-self: flex-start;
    align-self: center;
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: start;
    align-items: end;
    text-align: start;

    &__title {
      @include text(1.125rem, $font-weight-semibold);
      text-align: left;
      font-family: $font-family-secondary;
      color: $text-color-primary;

      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__artist {
      @include text-small;
      text-align: left;
      font-family: $font-family-secondary;
      color: $text-color-secondary;

      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__is-public {
      @include text($font-size-small, $font-weight-bold);
      text-align: left;
      font-family: $font-family-secondary;
      color: $text-color-primary;
    }
  }
}

.spinner-wrapper {
  margin: 50%;
}
