@use "../../../utils/variables" as v;

.artwork-card-small {
  padding: 16px;
  border: 1px v.$border-grey;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 16px;
  background-color: white;

  &:hover {
    border: 1px solid bisque;
  }

  &__add-to-favourites {
    display: grid;
    justify-content: flex-end;
    align-items: center;
  }

  &__image {
    width: 80px;
    height: 80px;
    background-color: bisque;

    display: grid;
    justify-content: flex-start;
    align-items: center;
    justify-self: flex-start;
    align-self: center;
  }

  &__content {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-content: start;
    align-items: end;
    text-align: start;

    &__title {
      margin: 0;
      font-family: Inter;
      font-size: 17.54px;
      font-weight: 500;
      line-height: 26.32px;
      letter-spacing: -0.03em;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: v.$text-color-black;

      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__artist {
      margin: 0;
      font-family: Inter;
      font-size: 15.35px;
      font-weight: 400;
      line-height: 26.32px;
      letter-spacing: -0.01em;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: v.$text-color-orange;

      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__is-public {
      margin: 0;
      font-family: Inter;
      font-size: 15.35px;
      font-weight: 700;
      line-height: 26.32px;
      letter-spacing: -0.01em;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: v.$text-color-black;
    }
  }
}
